<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register here</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <form class="content" method="post" action="/register">
            <!--pinterest logo-->
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
            <h1 class="header">Register Here</h1>
            <input type="email" name="email" placeholder="Email" class="detail" />
            <input type="text" name="username" placeholder="Username" class="detail" />
            <input type="text" name="fullname" placeholder="Full-Name" class="detail" />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <a href="#" id="forgot">Forgot your password?</a>
            <a href="/login" >Alrady on Pintrest?</a>
            <button type="submit" class="btn int">REGISTER</button>
        </form>
    </div>
</body>

</html>